<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>

  <div style="padding: 10px;">
    <h2>Current jobs from HN....</h2>

    <div>
      {% for job in jobs %}
      <div style="border: 1px solid black; padding: 5px; margin: 10px 0;">
        <a href="https://news.ycombinator.com/item?id={{ job['hn_id'] }}" style="border-bottom: 1px solid black;">
          by {{ job['by'] }} (go to item on HN)
        </a>

        <div style="border-bottom: 1px solid black;">
          {{ job['time'] | timeago }}
        </div>

        <span>{{ job['text'] }}</span>
      </div>
      {% endfor %}
    </div>
  </div>

</body>

</html>