<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>HN jobs</title>
  <link href="/jobs/output.css" rel="stylesheet">
</head>

<body class="bg-white dark:bg-slate-600">

  <div class="py-16 mx-auto max-w-7xl px-6 lg:px-8">
    <div class="mx-auto text-center">
      <h2 class="text-3xl font-bold tracking-tight text-gray-900 sm:text-4xl">
        Current jobs on HN...
      </h2>

      <p class="mt-2 text-lg leading-8 text-gray-900">
        {{ post['name'] }}
        <a class="underline text-lime-950" href="https://news.ycombinator.com/item?id={{ post['hn_id'] }}">
          (open thread on HN)
        </a>
      </p>
    </div>

    <div class="divide-y divide-gray-100 dark:divide-slate-800">
      {% for job in jobs %}
      <div class="py-5 w-full">
        <div class="bg-white shadow-lg ring-1 ring-black/5 rounded-xl flex-col gap-6 dark:bg-slate-800">
          <p class="py-6 px-8 text-slate-900 font-medium text-sm sm:text-base dark:text-slate-200">
            <a href="https://news.ycombinator.com/item?id={{ job['hn_id'] }}" class="underline">
              by {{ job['by'] }} (open item on HN)
            </a>
            &nbsp;{{ job['timeago'] }}
          </p>

          <div class="pb-6 px-8 mt-1 text-xs leading-5 text-gray-500 job-description">
            {{ job['text'] }}
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>

</body>

</html>